@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    scroll-behavior: smooth;
  }

  /* Scrollbar Dark */
  body::-webkit-scrollbar {
    width: 1rem;
  }

  body::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #051d27;
    border-radius: 10px;
    cursor: grab;
  }

  .scrollbar::-webkit-scrollbar {
    width: 1rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #082835;
    border-radius: 10px;
    cursor: grab;
  }

  .scrollbar-slim-y::-webkit-scrollbar {
    width: 0.6rem;
  }

  .scrollbar-slim-y::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim-y::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
    cursor: grab;
  }

  .scrollbar-slim-x::-webkit-scrollbar {
    height: 0.7rem;
  }

  .scrollbar-slim-x::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim-x::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    cursor: grab;
  }

  .scrollbar-panel::-webkit-scrollbar {
    width: 0.8rem;
  }

  .scrollbar-panel::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-panel::-webkit-scrollbar-thumb {
    background-color: #082835;
    border-radius: 10px;
    cursor: grab;
  }

  .toast-message {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    padding: 10px 10px 15px 10px;
  }

  /* ----> Responsive Screen <---- */

  /* ----> Mobile Small <---- */
  @media (max-width: 375px) {
    html {
      font-size: 7.6px;
    }
  }

  /* ----> Mobile Regular <---- */
  @media (376px <= width <= 479px) {
    html {
      font-size: 7.8px;
    }
  }

  /* ----> Mobile Large OR Tablet Small <---- */
  @media (480px <= width <= 639px) {
    html {
      font-size: 8.2px;
    }
  }

  /* ----> Tablet Medium <---- */
  @media (640px <= width <= 767px) {
    html {
      font-size: 8.6px;
    }
  }

  /* ----> Tablet Large OR Laptop Small <---- */
  @media (768px <= width <= 900px) {
    html {
      font-size: 9px;
    }
  }

  /* ----> Laptop Medium <---- */
  @media (901px <= width <= 1023px) {
    html {
      font-size: 8.8px;
    }
  }

  /* ----> Laptop Large <---- */
  @media (1024px <= width <= 1200px) {
    html {
      font-size: 9.4px;
    }
  }

  /* ----> Laptop Xtra Large OR Widescreen <---- */
  /* @media (min-width: 1201px) {} */

  /* ----> Landscape <---- */
  /* @media (max-height: 500px) {} */
}

@layer components {
  .numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .fancyFormInput {
    @apply w-full pl-[0.5rem] pr-[3.5rem] py-[0.6rem] text-neutral-600 text-[1.7rem] leading-[2rem] font-medium font-mont outline-none bg-transparent border-b-2 border-neutral-400 focus:border-cyan-700;
  }

  .fancyFormInputLabel {
    @apply absolute px-[0.5rem] font-medium cursor-text transition-all peer-focus/input:mb-[4.5rem] peer-focus/input:text-[1.5rem] peer-focus/input:text-cyan-800 pointer-events-none;
  }

  .fancyFormInputIcon {
    @apply p-[0.5rem] absolute right-0 text-neutral-500 z-10;
  }

  .active {
    @apply text-amber-500 rounded-[0.3rem];
  }

  .bannerBoxesPattern {
    background-image: radial-gradient(#0f475a 2px, transparent 2px),
      radial-gradient(#0f475a 2px, transparent 2px);
    background-size: 25px 25px;
    background-position: 0 0, 12.5px 12.5px;
    background-color: #082835;
  }

  .propertyTab {
    @apply w-full relative z-[9] py-[0.5rem] text-center text-[1.9rem] tabletSm:text-[2rem] leading-[3rem] font-medium overflow-hidden cursor-pointer select-none rounded-full before:content-[''] before:absolute before:-z-[1] before:bottom-0 before:left-0 before:w-full before:h-full before:bg-white before:rounded-full before:transition-[all_0.5s_ease-in];
  }

  .demandCont {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(197, 74%, 12%, 1)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(196, 64%, 24%, 1)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(196, 64%, 24%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-24,0)' fill='url(%23a)'/></svg>");
  }

  .propertyFormInputTitles {
    @apply text-[1.9rem] leading-[2.4rem] font-semibold text-theme-blue;
  }

  .propertyFormInputRadioLabels {
    @apply text-[1.4rem] leading-[1.4rem] font-medium text-neutral-800 px-[2.5rem] py-[0.8rem] border-[0.2rem] rounded-lg cursor-pointer flex items-center gap-[0.8rem] hover:shadow-lg hover:shadow-neutral-200 hover:translate-y-[-0.1rem] transition-all;
  }

  .mySwiper .swiper-pagination {
    width: fit-content;
    display: flex;
    background: #ffffff60;
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    cursor: default;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .mySwiper .swiper-pagination-bullet {
    background-color: black;
    opacity: 0.6;
  }

  .mySwiper .swiper-pagination-bullet-active {
    background-color: #fbbf24;
    opacity: 1;
  }
}

/* @layer utilities {} */

/* color: #fbbf24; */
