@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
    font-family: "Montserrat Alternates", sans-serif;
  }

  .boxPattern {
    background-image: radial-gradient(#0f475a 2px, transparent 2px),
      radial-gradient(#0f475a 2px, transparent 2px);
    background-size: 25px 25px;
    background-position: 0 0, 12.5px 12.5px;
    background-color: #05212b;
  }

  /* ----> Responsive Screen <---- */

  /* ----> Mobile Small <---- */
  @media (max-width: 375px) {
    html {
      font-size: 7.4px;
    }
  }

  /* ----> Mobile Regular <---- */
  @media (376px <= width <= 480px) {
    html {
      font-size: 7.8px;
    }
  }

  /* ----> Mobile Large OR Tablet Small <---- */
  @media (481px <= width <= 639px) {
    html {
      font-size: 8.2px;
    }
  }

  /* ----> Tablet Medium <---- */
  @media (640px <= width <= 767px) {
    html {
      font-size: 8.6px;
    }
  }

  /* ----> Tablet Large OR Laptop Small <---- */
  @media (768px <= width <= 900px) {
    html {
      font-size: 9px;
    }
  }

  /* ----> Laptop Medium <---- */
  @media (901px <= width <= 1023px) {
    html {
      font-size: 8.8px;
    }
  }

  /* ----> Laptop Large <---- */
  @media (1024px <= width <= 1200px) {
    html {
      font-size: 9.4px;
    }
  }

  /* ----> Laptop Xtra Large OR Widescreen <---- */
  /* @media (min-width: 1201px) {} */

  /* ----> Landscape <---- */
  /* @media (max-height: 500px) {} */
}

@layer components {
  .active {
    @apply text-white bg-cyan-950 rounded-[0.3rem];
  }
}
/* @layer utilities {} */
