<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Email Template</title>
    <style>
      body {
        font-family: Verdana, sans-serif;
      }
      .containerMain {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 0px;
        justify-content: center;
        background: #f8f8f8;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background: #082835;
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      .header {
        padding: 10px 10px 0px 10px;
      }
      .header img {
        max-width: 200px;
      }
      .section {
        padding: 10px 10px;
      }
      .section p {
        margin: 0;
        font-size: 16px;
        color: #eee;
      }
      .section .title {
        font-size: 18px;
        font-weight: 800;
        color: #fff;
      }

      /* --> Responsive Screen <-- */
      @media (max-width: 375px) {
        html {
          font-size: 7.6px;
        }
      }
      @media (376px <= width <= 479px) {
        html {
          font-size: 7.8px;
        }
      }
      @media (480px <= width <= 639px) {
        html {
          font-size: 8.2px;
        }
      }
      @media (640px <= width <= 767px) {
        html {
          font-size: 8.6px;
        }
      }
      @media (768px <= width <= 900px) {
        html {
          font-size: 9px;
        }
      }
      @media (901px <= width <= 1023px) {
        html {
          font-size: 8.8px;
        }
      }
      @media (1024px <= width <= 1200px) {
        html {
          font-size: 9.4px;
        }
      }
    </style>
  </head>
  <body>
    <div class="containerMain">
      <div class="container">
        <div class="header">
          <img src="cid:<%= imageCid %>" alt="NabEstateLogo" />
        </div>

        <div class="section">
          <h2 class="title"><%= subject %></h2>
          <p style="font-weight: 600">Dear <%= username %>,</p>
        </div>

        <div class="section">
          <p style="font-weight: 500">
            Please use the OTP below to verify your email address
          </p>
          <p style="font-weight: 500">
            OTP Code:
            <span style="font-weight: 700; color: white"><%= otp %></span>
          </p>
        </div>

        <div class="section">
          <p style="font-weight: 600">
            If you did not request this, please ignore this email.
          </p>
          <p style="font-weight: 500">Best regards,</p>
          <p style="font-weight: 500">Nab Estate Team</p>
        </div>
      </div>
    </div>
  </body>
</html>
