<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAB Real Estate</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        font-size: 10px;
      }
      body {
        font-family: "Montserrat Alternates", sans-serif;
      }
      .containerMain {
        width: 100%;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: white;
        color: #303030;
      }
      .containerTop {
        width: 100%;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 2rem 4% 3rem 4%;
        /* background-color: #082835; */
      }
      .containerTop img {
        width: 20rem;
        margin-left: 1%;
        margin-bottom: 3rem;
      }
      .containerTop h1 {
        width: 100%;
        max-width: 50rem;
        font-size: 2.8rem;
        line-height: 4.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #082835;
        border-bottom: 0.2rem solid #bbb;
        padding: 0rem 1%;
      }
      .containerTop h3 {
        font-size: 2.1rem;
        line-height: 3rem;
        font-weight: 700;
        font-family: "Quicksand", sans-serif;
        padding: 0rem 1%;
      }
      .containerTop p {
        font-size: 1.75rem;
        line-height: 1.8rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        color: #505050;
        font-family: "Quicksand", sans-serif;
        padding: 0rem 1%;
      }
      .form-cont {
        width: 100%;
        padding: 1.5rem 5%;
      }
      .form {
        width: 100%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .label span {
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: #082835;
        margin-bottom: 0.5rem;
      }
      .label input {
        outline: none;
        border: 2px solid #a0a0a0;
        border-radius: 0.4rem;
        padding: 0.8rem 1rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: #505050;
      }
      .label input:focus {
        border-color: #082835;
      }
      .submit-btn {
        all: unset;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        padding: 1rem 1rem;
        margin-top: 1rem;
        color: white;
        background-color: #082835;
        text-decoration: none;
        border-radius: 100rem;
        cursor: pointer;
        transition: all 0.1s linear;
      }
      .submit-btn:hover {
        transform: scale(1.02);
        box-shadow: 10px 10px 20px #eee;
      }
      .submit-btn:disabled {
        background-color: #bbb;
        color: #333;
        cursor: not-allowed;
      }
      .form-error {
        color: #cf0000;
        font-size: 1.7rem;
        font-weight: 600;
        display: none;
      }
      .error {
        color: #cf0000;
        font-size: 1.5rem;
        font-weight: 500;
      }

      /* --> Responsive Screen <-- */
      @media (max-width: 375px) {
        html {
          font-size: 7.6px;
        }
      }
      @media (376px <= width <= 479px) {
        html {
          font-size: 7.8px;
        }
      }
      @media (480px <= width <= 639px) {
        html {
          font-size: 8.2px;
        }
      }
      @media (640px <= width <= 767px) {
        html {
          font-size: 8.6px;
        }
      }
      @media (768px <= width <= 900px) {
        html {
          font-size: 9px;
        }
      }
      @media (901px <= width <= 1023px) {
        html {
          font-size: 8.8px;
        }
      }
      @media (1024px <= width <= 1200px) {
        html {
          font-size: 9.4px;
        }
      }
    </style>
  </head>
  <body>
    <div class="containerMain">
      <div class="containerTop">
        <img src="/assets/logo-dark.png" alt="NabEstateLogo" />
        <h1>Change Password</h1>
        <h3><%= name%></h3>
        <p><%= email%></p>
      </div>

      <div class="form-cont">
        <form id="changePasswordForm" class="form">
          <p id="formError" class="form-error"></p>

          <label for="currentPassword" class="label">
            <span>Current Password</span>
            <input
              type="password"
              id="currentPassword"
              oninput="inputChangeHandler('currentPass')"
              required
            />
            <div id="currentPassError" class="error"></div>
          </label>

          <label for="newPassword" class="label">
            <span>New Password</span>
            <input
              type="password"
              id="newPassword"
              oninput="inputChangeHandler('newPass')"
              required
            />
            <div id="newPassError" class="error"></div>
          </label>

          <label for="confirmPassword" class="label">
            <span>Confirm Password</span>
            <input
              type="password"
              id="confirmPassword"
              oninput="inputChangeHandler('confirmPass')"
              required
            />
            <p id="confirmPassError" class="error"></p>
          </label>

          <button type="submit" id="submitBtn" class="submit-btn" disabled>
            Save
          </button>
        </form>
      </div>
    </div>

    <script>
      const userId = "<%= id %>";
      const token = "<%= token %>";
      const changePasswordForm = document.getElementById("changePasswordForm");
      const currentPass = document.getElementById("currentPassword");
      const newPass = document.getElementById("newPassword");
      const confirmPass = document.getElementById("confirmPassword");
      const currentPassError = document.getElementById("currentPassError");
      const newPassError = document.getElementById("newPassError");
      const confirmPassError = document.getElementById("confirmPassError");
      const formError = document.getElementById("formError");
      const submitBtn = document.getElementById("submitBtn");

      function inputChangeHandler(input) {
        if (input === "currentPass") {
          currentPassError.innerText = "";
        } else if (input === "newPass") {
          newPassError.innerText = "";
        } else {
          confirmPassError.innerText = "";
        }

        if (currentPass.value && newPass.value && confirmPass.value) {
          submitBtn.disabled = false;
        } else {
          submitBtn.disabled = true;
        }

        formError.style.display = "none";
        formError.innerText = "";
      }

      changePasswordForm.addEventListener("submit", function (event) {
        // Prevent form submission
        event.preventDefault();

        // Check if the password is at least 8 characters long
        if (newPass.value.length < 8) {
          newPassError.innerText =
            "Password must be at least 8 characters long.";
        }

        // Check if the password and confirm password fields match
        else if (newPass.value !== confirmPass.value) {
          confirmPassError.innerText = "Passwords is not match.";
        }

        // If there are no errors, show the success message and hide the form
        if (!newPassError.innerText && !confirmPassError.innerText) {
          submitBtn.innerText = "Saving...";
          fetch(`/api/user/change-password/${userId}/${token}`, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              currentPass: currentPass.value,
              newPass: newPass.value,
              confirmPass: confirmPass.value,
            }),
          })
            .then((response) => response.json())
            .then((response) => {
              if (response?.message === "Password is incorrect") {
                currentPassError.innerText =
                  "Your current password is incorrect.";
              }
              submitBtn.innerText = "Save";
            })
            .catch((error) => {
              console.error("Error:", error);
              submitBtn.innerText = "Save";
              window.location.reload();
            });
        }
      });
    </script>
  </body>
</html>
