<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAB Real Estate</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        font-size: 10px;
      }
      body {
        font-family: "Montserrat Alternates", sans-serif;
      }
      .container-main {
        width: 100%;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: white;
        color: #303030;
      }
      .container-top {
        width: 100%;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 2rem 4% 2rem 4%;
        /* background-color: #082835; */
      }
      .container-top img {
        width: 20rem;
        margin-left: 1%;
        margin-bottom: 3rem;
      }
      .container-top h1 {
        width: 100%;
        font-size: 2.8rem;
        line-height: 4.5rem;
        font-weight: 600;
        color: #082835;
        border-bottom: 0.2rem solid #bbb;
        padding: 0rem 1%;
      }
      .container-bottom {
        width: 100%;
        padding: 1.5rem 5%;
      }
      .success-message-cont {
        font-size: 1.8rem;
        font-weight: 600;
      }
      .success-message-cont h6 {
        font-size: 2rem;
      }

      /* --> Responsive Screen <-- */
      @media (max-width: 375px) {
        html {
          font-size: 7.6px;
        }
      }
      @media (376px <= width <= 479px) {
        html {
          font-size: 7.8px;
        }
      }
      @media (480px <= width <= 639px) {
        html {
          font-size: 8.2px;
        }
      }
      @media (640px <= width <= 767px) {
        html {
          font-size: 8.6px;
        }
      }
      @media (768px <= width <= 900px) {
        html {
          font-size: 9px;
        }
      }
      @media (901px <= width <= 1023px) {
        html {
          font-size: 8.8px;
        }
      }
      @media (1024px <= width <= 1200px) {
        html {
          font-size: 9.4px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container-main">
      <div class="container-top">
        <img src="/assets/logo-dark.png" alt="NabEstateLogo" />
        <h1><%= title %></h1>
      </div>

      <div class="container-bottom">
        <div class="success-message-cont">
          <h6>Dear <%= username %>,</h6>

          <p style="color: #72be00"><%= message %></p>
          <br />
          <p><%= guidance %></p>
        </div>
      </div>
    </div>
  </body>
</html>
